@use './style-components/reset';
@use './style-components/mixins' as *;
@use './style-components/variables' as *;
@use './style-components//header/header';
@use './style-components//header/themeToggle';
@use './style-components/header/nav-menu';
@use './style-components/hero/hero';
@use './style-components/about';
@use './style-components/style-UI/SectionHeader';
@use './style-components/style-UI/back-to-top';
@use './style-components//hero/socials';

* {
    font-family: $font-text;
    transition: background-color 0.3s ease-in;
}

body {
    background-color: var(--dark-gray);
    color: var(--text-color);
}
